<div class="container">
  <nz-spin *ngIf="showLoading" class="loading" nzSize="large" [nzSpinning]="showLoading"></nz-spin>
  <div id="triggerInput" (click)="input.click()">
  </div>

  <div class="get-started" (click)="getDataFromDb()" *ngIf="!data.length">
  </div>

  <div class="import-excel" (click)="openPasswordModal()" *ngIf="!data.length">
  </div>

  <input #input class="input-file" type="file" (change)="onFileChange($event)" />

  <div *ngIf="data.length" class="customer-data">
    <div class="title">HỆ THỐNG QUẢN LÝ TIÊM CHỦNG VACCINE COVID-19</div>
    <div class="injected-date" style="font-size:16px;">Ngày tiêm chủng: {{ formatDate }}</div>
    <div class="search-container">
      <div class="filter">
        <div class="injected-filter" [ngClass]="injectedSelected ? 'selected': 'none'"
          (click)="injectedSelected = !injectedSelected; filterData();">Đã tiêm</div>
        <div class="not-injected-filter" [ngClass]="notInjectedSelected ? 'selected': 'none'"
          (click)="notInjectedSelected = !notInjectedSelected; filterData();">Chưa tiêm</div>
        <div class="not-qualified-filter" [ngClass]="notQualifiedSelected ? 'selected': 'none'"
          (click)="notQualifiedSelected = !notQualifiedSelected; filterData();">Không tiêm</div>
      </div>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="searchText" (ngModelChange)="filterData()" nz-input
          placeholder="Nhập tên, Số điện thoại hoặc CMND"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
      <div class="filter-count" style="font-size:16px;">
        Số lượng tìm kiếm: {{ displayData.length }}
      </div>
    </div>
    <nz-table #nestedTable [nzData]="displayData" [nzPageSize]="4">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ và tên</th>
          <th>Giới tính</th>
          <th>Ngày sinh</th>
          <th>Số điện thoại</th>
          <th>Tình trạng</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data let-i="index" [ngForOf]="nestedTable.data">
          <tr (click)="showCustomer(i)">
            <td>{{ data.sl }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.birth }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.injected ? 'Đã được tiêm' : 'Chưa được tiêm' }}</td>
          </tr>
          <tr [nzExpand]="showItem[i]">
            <customer-form [customerData]="data" (saveCustomerData)="saveCustomerData($event)"></customer-form>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
    <div *ngIf="willDownload" class="export-container">
      <button class="export-button" nz-button nzType="primary" nzSize="default" nzShape="round"
        (click)="exportToExcel()">
        <i nz-icon nzType="download"></i>
        Export to excel
      </button>
    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="showModal" nzTitle="Nhập mật khẩu để tiếp tục" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="input password"
        [(ngModel)]="password" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
  </ng-container>
</nz-modal>