::ng-deep .container {
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/background-page.jpg');
  background-size: cover;
  font-family: sans-serif;

  .loading {
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
    z-index: 1000;

    .ant-spin-spinning {
      max-height: none;
    }
  }

  .get-started {
    background-image: url('../assets/images/get-started.png');
    width: 135px;
    height: 41px;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 250px;
  }

  .import-excel {
    background-image: url('../assets/images/upload-excel.png');
    width: 135px;
    height: 41px;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 100px;
  }

  .input-file {
    display: none;
    color: #d3d3d3;
  }

  .triggerInput {
    display: none;
  }

  .customer-data {
    position: relative;
    .title {
      font-size: 16px;
      font-weight: bold;
      line-height: 32px;
      text-align: center;
      font-family: sans-serif;
      color: honeydew;
    }

    .injected-date {
      text-align: center;
      font-weight: bold;
      line-height: 32px;
      text-align: center;
      font-family: sans-serif;
      color: honeydew;
    }

    .injected-info {
      font-size: 15px;
      font-weight: bold;
      line-height: 25px;
      text-align: center;
      font-family: sans-serif;
      cursor: pointer;
      color: honeydew;
    }

    .search-container {
      width: 700px;
      margin: 10px auto;
      position: relative;

      .injected-filter, .not-injected-filter, .not-qualified-filter {
        position: absolute;
        width: 100px;
        line-height: 31px;
        background: white;
        text-align: center;
        top: 0px;
        cursor: pointer;
      }

      .injected-filter {
        right: -115px;
      }

      .not-injected-filter {
        right: -230px;
      }

      .not-qualified-filter {
        right: -375px;
        width: auto;
        padding: 0 5px
      }

      .selected {
        background: #1890ff;
        color: #fff;
      }
    }

    nz-table {
      width: 90%;
      margin: 0 auto;
      thead {
        th {
          font-weight: bold;
        }
      }
    }

    .export-container {
      position: relative;
      .export-button {
        position: absolute;
        top: -50px;
        left: 5%;
      }

      .save-button {
        position: absolute;
        top: -50px;
        left: calc(5% + 165px);
      }
    }
  }

  .injection-info {
    margin: 0 10px;
  }
}