<ng-container *ngIf="customerData">
  <nz-descriptions [nzTitle]="customerData.name" [nzColumn]="3">
    <nz-descriptions-item nzTitle="Giới tính">{{ customerData.gender }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Ngày sinh">{{ customerData.birth }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Bộ phận">
      <nz-select nzSize="small" [(ngModel)]="customerData.job">
        <nz-option *ngFor="let job of listJob" [nzValue]="job" [nzLabel]="job"></nz-option>
      </nz-select>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Điện thoại">{{ customerData.phone }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="CMT/CCCD">{{ customerData.indentificationCard }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Địa chỉ">{{ customerData.workAdress }}</nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="3" nzTitle="Tiêm chủng">
      <label class="injection-info" nz-checkbox [(ngModel)]="customerData.firstCheckin">Check-in tại Kim Mã</label>
      <label class="injection-info" nz-checkbox [(ngModel)]="customerData.secondCheckin">Check-in tại Bệnh viện</label>
      <label class="injection-info" nz-checkbox [(ngModel)]="customerData.injected" (ngModelChange)="changeInjected()">Đã tiêm xong</label>
      <label class="injection-info" nz-checkbox [(ngModel)]="customerData.notQualified" (ngModelChange)="changeNotQualified()">Không tiêm/ không đủ điều kiện tiêm</label>
    </nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="3" nzTitle="Tình trạng">
      <label class="injection-info" nz-checkbox [(ngModel)]="customerData.firstInjected">Tiêm lần 1</label>
      <label class="injection-info" nz-checkbox [(ngModel)]="customerData.secondInjected">Tiêm lần 2</label>
    </nz-descriptions-item>
    <nz-descriptions-item [nzSpan]="3" nzTitle="Ghi chú">
      <textarea rows="2" nz-input [(ngModel)]="customerData.note"></textarea>
    </nz-descriptions-item>
  </nz-descriptions>
  <button class="save-button" nz-button nzType="primary" nzSize="default" nzShape="round" (click)="saveData()">
    Save
  </button>
</ng-container>